<form asp-controller="Usuario" asp-action="Login" method="post">
    <input type="text" name="Email" id="Email" />
    <input type="password" name="Senha" id="Senha" />
    <input type="submit" value="Login" />
</form>